<p id="notice"><%= notice %></p>

<p>
  <b>Gift receiver:</b>
  <%= @payment.gift_receiver_id %>
</p>

<p>
  <b>Gift group:</b>
  <%= @payment.gift_group_id %>
</p>

<p>
  <b>Payed:</b>
  <%= @payment.payed %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
